@model Library.Models.Bookauthor

@{
    ViewData["Title"] = "Remover Vínculo Livro - Autor";
}

<h1 class="text-3xl mb-2">
    <strong>Remoção de Vínculo Livro - Autor</strong>
</h1>

<hr class="mb-6">
<h3 class="text-xl mb-2">Tem certeza que deseja remover o vinculo do livro "@Html.DisplayFor(model =>
    model.Book.Title)" do autor "@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model =>
    model.Author.LastName)?"</h3>
<form asp-action="Delete" class="flel flex-col gap-11 mb-5">
    <input type="hidden" asp-for="BookAuthorId" />
    <input type="submit" value="SIM" class="btn btn-danger rounded-lg p-3" />
</form>

<div>
    <a asp-action="Index" class="flex items-center justify-center rounded-xl p-4 border bg-white">
        <i class="material-symbols-outlined">
            arrow_back
        </i>
    </a>
</div>