@model Library.Models.Bookauthor

@{
    ViewData["Title"] = "Alterar Vínculo Livro - Autor";
}

<h1 class="text-3xl mb-2">
    <strong>Alteração de Vínculo Livro - Autor</strong>
</h1>

<hr class="mb-6">

<form asp-action="Edit" class="flel flex-col gap-11 mb-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BookAuthorId" />
    <div class="flex flex-col gap-2">
        <label asp-for="BookId" class="control-label"></label>
        <select asp-for="BookId" class="form-control rounded-xl flex" asp-items="ViewBag.BookId"></select>
        <span asp-validation-for="BookId" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2 mb-3">
        <label asp-for="AuthorId" class="control-label"></label>
        <select asp-for="AuthorId" class="form-control rounded-xl flex" asp-items="ViewBag.AuthorId"></select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2">
        <input type="submit" value="SALVAR" class="btn btn-primary rounded-lg p-3" />
    </div>
</form>

<div>
    <a asp-action="Index" class="flex items-center justify-center rounded-xl p-4 border">
        <i class="material-symbols-outlined">
            arrow_back
        </i>
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
