@model Library.Models.Member

@{
    ViewData["Title"] = "Cadastro de Membro";
}

<h1 class="text-3xl mb-2">
    <strong>Cadastrar Membro</strong>
</h1>

<hr class="mb-6">

<form asp-action="Create" class="flel flex-col gap-11 mb-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="flex flex-col gap-2">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control rounded-xl flex" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control rounded-xl flex" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control rounded-xl flex" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control rounded-xl flex" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="MembershipStartDate" class="control-label"></label>
        <input asp-for="MembershipStartDate" class="form-control rounded-xl flex" />
        <span asp-validation-for="MembershipStartDate" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2 mb-3">
        <label asp-for="MembershipEndDate" class="control-label"></label>
        <input asp-for="MembershipEndDate" class="form-control rounded-xl flex" />
        <span asp-validation-for="MembershipEndDate" class="text-danger"></span>
    </div>
    <div class="flex flex-col gap-2">
        <input type="submit" value="CADASTRAR" class="btn btn-primary rounded-lg p-3" />
    </div>
</form>

<div>
    <a asp-action="Index" class="flex items-center justify-center rounded-xl p-4 border">
        <i class="material-symbols-outlined">
            arrow_back
        </i>
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
