@model Library.Models.Loan

@{
    ViewData["Title"] = "Remover Empréstimo";
}

<h1 class="text-3xl mb-2">
    <strong>Remoção de Empréstimo</strong>
</h1>

<hr class="mb-6">
<h3 class="text-xl mb-2">Tem certeza que deseja remover o empréstimo do livro "@Html.DisplayFor(model =>
    model.Book.Title)" do membro "@Html.DisplayFor(model => model.Member.FirstName) @Html.DisplayFor(model =>
    model.Member.LastName)?"</h3>
<form asp-action="Delete" class="flel flex-col gap-11 mb-5">
    <input type="hidden" asp-for="LoanId" />
    <input type="submit" value="SIM" class="btn btn-danger rounded-lg p-3" />
</form>

<div>
    <a asp-action="Index" class="flex items-center justify-center rounded-xl p-4 border bg-white dark:text-black">
        <i class="material-symbols-outlined">
            arrow_back
        </i>
    </a>
</div>
