@model Library.Models.Publisher

@{
    ViewData["Title"] = "Remover Editora";
}

<h1 class="text-3xl mb-2">
    <strong>Remoção de Editora</strong>
</h1>

<hr class="mb-6">
<h3 class="text-xl mb-2">Tem certeza que deseja remover a editora "@Html.DisplayFor(model =>
    model.Name)"?</h3>
<form asp-action="Delete" class="flel flex-col gap-11 mb-5">
    <input type="hidden" asp-for="PublisherId" />
    <input type="submit" value="SIM" class="btn btn-danger rounded-lg p-3" />
</form>

<div>
    <a asp-action="Index" class="flex items-center justify-center rounded-xl p-4 border">
        <i class="material-symbols-outlined">
            arrow_back
        </i>
    </a>
</div>
