<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class="bg-orange-100 dark:bg-amber-950 flex flex-col min-h-screen dark:text-white">
    <img class="object-cover w-full h-full top-0 left-0 -z-50 fixed" src="~/public/library.jpg" alt="Logo" />
    <header class="h-fit backdrop-blur-xl bg-white/70 dark:bg-black/70 mb-3 border-b dark:border-black">
        <nav class="py-3 sm:px-20 md:px-48 lg:px-56 xl:px-64 2xl:px-80 3xl:px-96 shadow-md flex items-center">
            <a asp-controller="Home" asp-action="Index">
                <i class="material-symbols-outlined scale-110 hover:scale-90 duration-200 drop-shadow-sm ease-out p-2">
                    book
                </i>
            </a>
            <div class="flex mx-2 text-xs gap-4">
                <a asp-controller="Book" asp-action="Index">Livros</a>
                <a asp-controller="Author" asp-action="Index">Autores</a>
                <a asp-controller="Bookauthor" asp-action="Index">Autores | Livros</a>
                <a asp-controller="Loan" asp-action="Index">Empréstimos</a>
                <a asp-controller="Member" asp-action="Index">Membros</a>
                <a asp-controller="Publisher" asp-action="Index">Editoras</a>
            </div>
        </nav>
    </header>
    <div class="grow">
        <main role="main"
            class="sm:mx-20 md:mx-48 lg:mx-56 xl:mx-64 2xl:mx-80 3xl:mx-96 p-5 rounded-xl border dark:border-black backdrop-blur-xl bg-white/70 dark:bg-black/70 mb-3">
            @RenderBody()
        </main>
    </div>
    <footer
        class="h-fit backdrop-blur-xl bg-white/70 dark:bg-black/70 bottom-0 w-full border-t dark:border-black py-4 sm:px-20 md:px-48 lg:px-56 xl:px-64 2xl:px-80 3xl:px-96 flex items-center text-gray-600 dark:text-gray-300">
        <div>
            &copy; 2024 - Biblioteca Virtual - <a asp-area="" asp-controller="Home" asp-action="Privacy"
                class="text-gray-600">Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
